[submodule "packages/shotkey/source"]
	path = packages/shotkey/source
	url = git@github.com:phenax/shotkey.git
[submodule "packages/dwm/source"]
	path = packages/dwm/source
	url = git@github.com:phenax/dwm.git
[submodule "packages/xmonad/source"]
	path = packages/xmonad/source
	url = git@github.com:phenax/xmonad-config.git
[submodule "packages/st/source"]
	path = packages/st/source
	url = git@github.com:phenax/st.git
[submodule "packages/dmenu/source"]
	path = packages/dmenu/source
	url = git@github.com:phenax/dmenu.git
[submodule "packages/dwmblocks/source"]
	path = packages/dwmblocks/source
	url = git@github.com:phenax/dwmblocks.git
[submodule "packages/bslock/source"]
	path = packages/bslock/source
	url = git@github.com:phenax/bslock.git
[submodule "packages/anypinentry/source"]
	path = packages/anypinentry/source
	url = git@github.com:phenax/any-pinentry.git
[submodule "config/nvim"]
	path = config/nvim
	url = git@github.com:phenax/peepeepoopoo-nvim-config.git
[submodule "extras/wallpapers"]
	path = extras/wallpapers
	url = git@github.com:phenax/wallpapers.git
[submodule "extras/notes"]
	path = extras/notes
	url = git@github.com:phenax/personal-notes.git
[submodule "config/emacs"]
	path = config/emacs
	url = git@github.com:phenax/emacs-config.git
