[submodule "~/nixos/external/nvim/config"]
	path = ~/nixos/external/nvim/config
	url = https://github.com/phenax/peepeepoopoo-nvim-config.git
[submodule "packages/shotkey/source"]
	path = packages/shotkey/source
	url = https://github.com/phenax/shotkey.git
[submodule "packages/dwm/source"]
	path = packages/dwm/source
	url = git@github.com:phenax/dwm.git
[submodule "packages/st/source"]
	path = packages/st/source
	url = git@github.com:phenax/st.git
