:root {
  /* Dracula Colors */
  --bg: #0f0c19;
  --currentline: #44475a;
  --fg: #f8f8f2;
  --comment: #6272a4;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --violet: #4e3aA3;
  --red: #ff5555;
  --yellow: #f1fa8c;
  --font: "JetBrainsMono Nerd Font", "JetBrains Mono", sans-serif;

  --tridactyl-fg: var(--fg);
  --tridactyl-bg: var(--bg);
  --tridactyl-url-fg: var(--violet);
  --tridactyl-url-bg: var(--bg);
  --tridactyl-highlight-box-bg: var(--currentline);
  --tridactyl-highlight-box-fg: var(--fg);
  --tridactyl-of-fg: var(--fg);
  --tridactyl-of-bg: var(--currentline);
  --tridactyl-cmdl-fg: var(--bg);
  --tridactyl-cmdl-font-family: var(--font);
  --tridactyl-cmplt-font-family: var(--font);
  --tridactyl-hintspan-font-family: var(--font);

  /* Hint character tags */
  --tridactyl-hintspan-fg: var(--bg) !important;
  --tridactyl-hintspan-bg: var(--green) !important;

  /* Element Highlights */
  --tridactyl-hint-active-fg: none;
  --tridactyl-hint-active-bg: none;
  --tridactyl-hint-active-outline: none;
  --tridactyl-hint-bg: none;
  --tridactyl-hint-outline: none;
}

#command-line-holder {
  order: 1;
  border: 2px solid var(--violet);
  background: var(--tridactyl-bg);
}

#tridactyl-colon {
  color: var(--violet) !important;
  font-size: 1rem;
}

#tridactyl-input {
  color: var(--tridactyl-fg);
  width: 90%;
  font-size: 1.1rem !important;
  line-height: 1em;
  background: var(--tridactyl-bg);
  padding: 0.5rem 0.2rem !important;
}

#completions table {
  font-size: 0.8rem;
  font-weight: 200;
  border-spacing: 0;
  table-layout: fixed;
  padding: 0.5rem 1rem !important;
}

#completions > div {
  max-height: calc(20 * var(--option-height));
  min-height: calc(10 * var(--option-height));
}

/* COMPLETIONS */

#completions {
  --option-height: 1.4em;
  color: var(--tridactyl-fg);
  background: var(--tridactyl-bg);
  display: inline-block;
  font-size: unset;
  font-weight: 200;
  overflow: hidden;
  width: 100%;
  border-top: unset;
  order: 2;
}

/* Olie doesn't know how CSS inheritance works */
#completions .HistoryCompletionSource {
  max-height: unset;
  min-height: unset;
}

#completions .HistoryCompletionSource table {
  width: 100%;
  font-size: 9pt;
  border-spacing: 0;
  table-layout: fixed;
}

/* redundancy 2: redundancy 2: more redundancy */
#completions .BmarkCompletionSource {
  max-height: unset;
  min-height: unset;
}

#completions table tr td.prefix,
#completions table tr td.privatewindow,
#completions table tr td.container,
#completions table tr td.icon {
  display: none;
}

#completions .BufferCompletionSource table {
  width: unset;
  font-size: unset;
  border-spacing: unset;
  table-layout: unset;
}

#completions table tr .title {
  width: 50%;
}

#completions table tr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#completions .sectionHeader {
  background: unset;
  font-weight: bold;
  border-bottom: unset;
  font-size: 0.8rem !important;
  color: var(--violet) !important;
  text-transform: uppercase;
  padding: 0.4rem 1rem !important;
}

#cmdline_iframe:not(.hidden) {
  position: fixed !important;
  bottom: unset;
  top: 25% !important;
  left: 10% !important;
  z-index: 2147483647 !important;
  transition: none !important;
  width: 80% !important;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px !important;
  border: 1px solid #1b1825 !important;
}

.TridactylStatusIndicator {
  position: fixed !important;
  bottom: 0 !important;
  background: var(--tridactyl-bg) !important;
  border: unset !important;
  border: 1px var(--violet) solid !important;
  font-size: 10pt !important;
  /*font-weight: 200 !important;*/
  padding: 0.3ex 0.8ex !important;
}

#completions .focused {
  background: var(--violet);
  color: var(--fg);
}

#completions .focused .url {
  background: var(--violet);
  color: var(--fg);
}
