/*html, body, body * {*/
  /*background-color: #111 !important;*/
  /*color: #ddd !important;*/
/*}*/

/*body {*/
html, body, body * {
  color: #d7d7d8 !important;
  background-color: #0f0c19 !important;
}

a {
  color: #4e3aA3 !important;
}

code {
  /*color: #d5dada;*/
  /*background: #313231 !important;*/
}

figcaption {
  color: #d7d7d8 !important;
}
