:root {
  --ff-accent-color: #007070;
  --ff-accent-color-1: #009090;
  --ff-bg-color: #000000;
  --ff-bg-color-1: #101414;
  --ff-bg-color-2: #202222;
  --ff-bg-private: hsl(247, 36%, 15%);
  --ff-urlbar-height: 24px;
}

